header {
  width: 100vw;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;

  .header-wrap {
    position: relative;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 75%);
  }

  .header-top {
    @include flex-between;
    padding: 0 10px;
    height: 50px;
    background-color: #252525;

    &-mobToggler {
      display: none;

      @include mobile-767 {
        display: block;
      }

      .hamburger {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        width: 45px;
        height: 30px;
        cursor: pointer;

        span {
          display: block;
          width: 30px;
          height: 5px;
          border-radius: 5px;
          background-color: #959595;
          transform: rotate(0deg);
          transition: 0.25s ease-in-out;
        }

        &.active {
          span {
            &:nth-child(1) {
              background-color: #fff;
              transform: translate(0px, 12px) rotate(135deg);
            }

            &:nth-child(2) {
              opacity: 0;
            }

            &:nth-child(3) {
              background-color: #fff;
              transform: translate(0px, -13px) rotate(-135deg);
            }
          }
        }
      }
    }

    &-logo {
      width: 170px;
      height: 40px;
      padding: 5px 0;

      @include mobile-767 {
        width: 130px;
        height: 50px;
      }

      .logo {
        display: block;
        width: 100%;
        height: 100%;
        background: url("images/header-logo.png") no-repeat center/auto 100%;
        @include text-hide;
      }
    }

    &-language {
      font-size: 14px;
      margin-right: 180px;

      @include mobile-767 {
        display: none;
      }

      span {
        color: #fff;
        margin-right: 10px;
      }

      i {
        color: #807f7d;
      }
    }

    &-contact {
      display: none;

      @include mobile-767 {
        display: block;
      }

      i {
        font-size: 35px;
        color: #ececec;

        &:nth-child(1) {
          margin-right: 5px;
        }
      }
    }
  }

  .header-btn {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 15;

    @include mobile-767 {
      left: 0;
      display: flex;
      top: 50px;
    }

    a {
      position: relative;
      display: block;
      line-height: 50px;
      text-align: center;
      min-width: 150px;
      height: 50px;
      font-weight: 700;
      font-size: 16px;

      @include mobile-767 {
        display: inline-block;
        width: 50vw;
        box-shadow: 0 0 5px 0 rgb(0 0 0 / 75%);
        height: 40px;
        line-height: 40px;
      }

      &:before {
        position: absolute;
        left: -34px;
        display: inline-block;
        height: 50px;
        content: "";

        @include mobile-767 {
          height: 40px;
        }
      }

      &.loginBtn {
        color: #000;
        background: #fc0;

        &:before {
          border-top: 50px solid #fc0;
          border-left: 35px solid transparent;

          @include mobile-767 {
            display: none;
          }
        }

        &:after {
          position: absolute;
          right: -34px;
          display: none;
          height: 50px;
          content: "";
          border-top: 50px solid #fc0;
          border-right: 35px solid transparent;

          @include mobile-767 {
            display: inline-block;
            border-top: 40px solid #fc0;
          }
        }
      }

      &.registerBtn {
        background: #d48419;

        @include mobile-767 {
          transform: translateX(15px);
        }

        &:before {
          border-bottom: 50px solid #d48419;
          border-left: 35px solid transparent;

          @include mobile-767 {
            border-bottom: 40px solid #d48419;
          }
        }
      }
    }

    .dropDown-btn-wrap {
      position: relative;

      .dropDown-btn-links {
        display: none;
        position: absolute;
        z-index: 20;
        top: 100%;
        background-color: rgba(150, 120, 0, 1);

        .dropDown-btn-link {
          &:hover {
            background-color: rgb(195, 156, 0);
          }
        }

        @include mobile-767 {
          top: 40px;
          width: calc(50vw - 20px);

          .dropDown-btn-link {
            width: calc(50vw - 20px);
            box-shadow: 0 0 0px 0 rgb(0 0 0 / 75%);
            border-bottom: 1px solid rgb(212, 170, 0);
          }
        }
      }

      &:nth-of-type(2) {
        .dropDown-btn-links {
          background-color: #b16b11;
          min-width: 185px;
          transform: translateX(-35px);

          .dropDown-btn-link {
            &:hover {
              background-color: #b67521;
            }
          }
        }

        @include mobile-767 {
          .dropDown-btn-links {
            transform: translateX(-20px);
            width: calc(50vw + 20px);

            .dropDown-btn-link {
              width: calc(50vw + 20px);
              border-bottom: 1px solid #f09319;
            }
          }
        }
      }

      &.show {
        .dropDown-btn-links {
          display: block;
        }
      }
    }
  }

  .header-webNav {
    position: relative;
    background-color: #1b1b1b;

    @include mobile-767 {
      display: none;
    }

    &-items {
      display: flex;
      justify-content: start;
      align-items: center;
      width: calc(100% - 290px);
      overflow: hidden;
      margin-left: 60px;

      li {
        margin: 0 10px;

        a {
          @include flex-center;
          color: #898989;
          font-size: 16px;
          line-height: 50px;

          img {
            width: 30px;
            height: 30px;
            margin-right: 5px;
            filter: grayscale(100%) brightness(90%);
          }

          &:hover {
            color: #fff;

            img {
              filter: grayscale(100%) brightness(200%);
            }
          }
        }
      }
    }

    &-prevBtn {
      position: absolute;
      top: 50%;
      left: 30px;
      z-index: 10;
      border-right: 20px solid #807f7d;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      display: inline-block;
      transform: translate(-50%, -50%);
      cursor: pointer;
    }

    &-nextBtn {
      position: absolute;
      top: 50%;
      right: 180px;
      z-index: 10;
      border-left: 20px solid #807f7d;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      display: inline-block;
      transform: translate(-50%, -50%);
      cursor: pointer;
    }
  }

  .header-mobNav {
    display: none;
    overflow-y: scroll;
    position: fixed;
    top: 90px;
    left: 0;
    right: 0;
    bottom: 0;
    background: #212121;

    li {
      display: flex;
      align-items: center;
      padding: 2vmin 4vmin;

      a {
        display: flex;
        align-items: center;
        font-weight: 700;
        text-transform: uppercase;
        color: #fff;
        height: 9.3333333333vmin;
        line-height: 5.3333333333vmin;
        font-size: 2.1333333333vmin;

        img {
          width: 4vmin;
          height: 4vmin;
          margin-right: 3.3vmin;
          filter: grayscale(100%) brightness(200%);
        }
      }

      .otherNav-btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 2vmin 4vmin;
        transition: transform 0.3s ease-in-out;

        i {
          font-size: 3vmin;
          margin-right: 8px;
          color: #fff;
          transition: transform 0.3s ease-in-out;
        }

        &.active {
          background: #343333;

          i {
            transform: rotate(90deg);
          }
        }
      }

      .otherNav-items {
        width: 100%;
        background-color: rgba(131, 130, 130, .4);
        transform: scaleY(0);
        transform-origin: 50% 0;
        transition: transform 0.3s ease-in-out;

        &.active {
          transform: scaleY(1);
        }

        li {
          padding-left: 11.2vmin;

          a {
            text-transform: none;
          }
        }
      }
    }

    .otherpagesNav {
      flex-direction: column;
      padding: 0;
    }

    &.active {
      display: block;
    }
  }
}
