body {
  font-family: Microsoft Yahei, Helvetica Neue, Helvetica, Arial, Zawgyi-One, sans-serif;
  overscroll-behavior-y: contain;
  user-select: none;
  background: #000 url("../images/body-bg.jpeg") repeat center;
  color: #fff;
  padding-top: 100px;

  @include mobile-767 {
    padding-top: 90px;
  }
}

b {
  font-weight: 700;
}

.text-link {
  color: #FAFF00;

  &:hover {
    color: #29edfc;
  }
}

.italics-text {
  font-style: italic;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #fff;

  &:hover {
    color: #fff;
  }
}

.dropDown-btn-wrap.postBtn {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  margin: 20px auto;

  .dropDown-btn-toggle {
    cursor: pointer;
    color: #000;
    background: #fc0;
    min-width: 200px;
    padding: 12px 20px;
    text-align: center;
    font-weight: 700;
    border-radius: 15px;

    &:hover {
      background: rgb(255, 220, 80);
    }
  }

  .dropDown-btn-links {
    display: none;
    position: absolute;
    z-index: 20;
    top: 100%;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.8);

    .dropDown-btn-link {
      display: block;
      width: 100%;
      text-align: center;
      padding: 10px 0;

      &:hover {
        background-color: rgb(255, 255, 255, 0.3);
      }
    }

  }

  &.show {
    .dropDown-btn-links {
      display: block;
    }
  }
}

.content-list{
  list-style-type: decimal;
  padding-left: 1.5rem;
}
